@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}
a{
    color: black;
    text-decoration: none;
}
 ul{
    list-style: none;
 }
 .container{
    width: 90%;
    margin: auto;
 }

 /* NAVEGACIÓN*/
 .header {
    background-color: #efeff1;
    height: 60px;
    width: 100%;
    display: flex;
    z-index: 10;
    position: fixed;
    justify-content: space-around;
    align-items: center;
 }
 .nav-main{
    width: 90%;
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 .nav-brand {
    font-size: 20px;

 }
 .nav-main ul{
    display: flex;
 }
 .nav-main li{
    margin-left: 10px;
 }
 .nav-main ul li a:hover{
    color: #8c8b88;
 }
.menu-btn{
    cursor: pointer;
    z-index: 11;
    color: black;
    display: none;
}
  /* /NAVEGACIÓN*/

  /* SCAPARATE */
 .showcase{
    width: 100%;
    height: 600px;
    background: url("https://images.pexels.com/photos/220201/pexels-photo-220201.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") no-repeat center center/cover;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    color: white;
}
.showcase p{
    text-align: center;
}
.btn{
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background-color: #000;
    color: white;
    font-size: 15px;
    border: 1px solid white;
    margin: 10px 0px;
    border-radius: 10px;
}
.btn:hover{
    opacity: 0.7;
}
.showcase h2,
.showcase p{
    margin-bottom: 10px;
}
   /* /SCAPARATE*/

   /* /CARDS*/
.cards{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 25px;
    margin: 10px 0px;
}

.card{
    width: 286px;
    background-color: white;
    border: 1px solid #dfdfdf;
    border-radius: 10px;
     transition: 450ms all; 
    margin-top: 30px;
}
.card:hover{
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
.card img{
    width: 100%;
    height: 180px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-body{
    padding: 5px 15px 15px 15px;
}
.card-body h3{
    font-size: 20px;
    margin-bottom: 10px;
}
   /* /CARD*/

    /* /INFO*/
.info-one{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    background-color: #efeff1;
    margin-top: 50px;
}
.info-one img{
    width: 50vw;
}
.content{
    width: 100%;
    display: flex;
    padding: 0px 20px;
    flex-direction: column;
    justify-content: center;
}
.content h2{
    font-size: 50px;
}
.content h2,
.content p,
.content a{
    margin-top: 30px;
}
.content a{
    width: 140px;
}
     /* /INFO*/


      /* CONTACT*/
.contact{
    width: 100%;
    height: 500px;
    margin: 30px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-form{
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    border: 1px solid #dfdfdf;
    border-radius: 5px;

}

.contact-form h2{
    font-size: 30px;
}
.input{
    width: 400px;
    height: 40px;
    padding: 10px;
    font-size: 15px;
}
.textarea{
    width: 400px;
    padding: 10px;
    font-size: 15px;
}

::placeholder{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}
       /* /CONTACT*/


        /* footer*/
.footer{
    display: flex;
    align-items: center;
    background-color: #efeff1;
    height: 100px;
    width: 100%;
}
.footer a{
    cursor: pointer;
    font-size: 14px;
    padding-left: 30px;
}
.footer a:hover{
    color: #8c8b88;
}

/* footer*/

@media (max-width: 960px) {
    .menu-btn{
        display: block;
    }

    .nav-main ul.nav-menu{
        display: block;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #efeff1;
        opacity: 0.9;
        padding: 20px;
        transform: translateY(-220px);
        transition: transform 0.5s ease-in-out;
    }
    .nav-main ul.nav-menu.show{
        transform: translateY(0px);
    }
    .nav-main ul li{
        margin-bottom: 20px;
    }
    .cards{
        grid-template-columns: repeat(2, 1fr);
    }
    .info-one{
        flex-direction: column;
        align-items: center;
        height: 990px;
    }
    .info-one img{
        width: 100%;
        height: 75%;
    }
    .content{
        width: 100%;
        align-items: center;
        padding-bottom: 100px;    
    }
}

@media(max-width: 576px){
    .cards{
        grid-template-columns: repeat(1, 1fr);
    }

    .card img{
        height: 250px;
    }
    .contact-form{
        border: none;
    }
    .input{
        width: 100px;
        height: 40px;
        padding: 100px;
        font-size: 15px;
    }

    .textarea{
        width: 100px;
        padding: 100px;
        font-size: 15px;
    }

    .footer{
        align-items: flex-start;
        flex-direction: column;
        padding: 20px;
    }
}
